AUTH_SECRET="lgEQRfU7YxjnA2Zf9x9tt1ndfhmLDjMFyu3YmBTBcN4="
AUTH_GITHUB_ID="Ov23liTxiOk9Lp0njxJR"
AUTH_GITHUB_SECRET="4243e24aaee781397ef4f794f84b945f31a1a399"
NEXT_PUBLIC_SANITY_PROJECT_ID="i73li0zb"
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_WRITE_TOKEN="sk6gKHgjv8pMAx8w9HkMwnWzKzEsOPKIMsd2N2DTa0bnvwZY7nGTaPOl8hsEJkW9Jn2HMf73SIi6uNJDV8sVH1Ps4lb0lVJvvQwxm7GkuYWU6SnY8cvChoBb0Vb19OrRdvr1lOG9TKbmYUwKcZiWcBvwWK3HIoBXuOipxPoM9p7pz8QhUPLJ"